*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body{
    position: relative;
    padding: 2rem 2rem;
    background-color: 	#F8F8F8;
}

#birthdate{
    position: absolute;
    top: 2rem;
    left: 2rem;
    font-size: 20px;
    color: #666;
}

#bd{
    position: absolute;
    top: 4rem;
    width: 75%;
    height: 2rem;
    border: 0.5px solid #888;
    border-radius: 5px;
    padding-left: 0.5rem;
}
#dept{
    position: absolute;
    top: 7rem;
    left: 2rem;
    font-size: 20px;
    color: #666;
}

#dept-name{
    position: absolute;
    top: 9rem;
    width: 75%;
    height: 2rem;
    border: 0.5px solid #888;
    border-radius: 5px;
    padding-left: 0.5rem;
}
#rno{
    position: absolute;
    top: 12rem;
    left: 2rem;
    font-size: 20px;
    color: #666;
}

#r-no{
    position: absolute;
    top: 14rem;
    width: 75%;
    height: 2rem;
    border: 0.5px solid #888;
    border-radius: 5px;
    padding-left: 0.5rem;
}
#contact{
    position: absolute;
    top: 17rem;
    left: 2rem;
    font-size: 20px;
    color: #666;
}

#pno{
    position: absolute;
    top: 19rem;
    width: 75%;
    height: 2rem;
    border: 0.5px solid #888;
    border-radius: 5px;
    padding-left: 0.5rem;
}

#bd:hover, #dept-name:hover, #r-no:hover, #pno:hover{
    border: 2px solid rgb(255, 98, 0);
}

#save{
    position: absolute;
    left: 10rem;
    top: 28rem;
    height: 4rem;
    width: 10rem;
    font-size: 20px;
    border: 1px solid white;
    color: white;
    border-radius: 5px;
    background-color: rgb(255, 98, 0);
}

#save:hover{
    transition: .5s;
    border-radius: 15px;
    color: rgb(255, 98, 0);
    border: 1px solid rgb(255, 98, 0);
    background-color: white;
    cursor: pointer;
}

#cancle{
    position: absolute;
    top: 28rem;
    right: 10rem;
    height: 4rem;
    width: 10rem;
    font-size: 20px;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    background-color: rgb(255, 98, 0);
}

#cancle:hover{
    transition: .5s;
    border-radius: 15px;
    color: rgb(255, 98, 0);
    border: 1px solid rgb(255, 98, 0);
    background-color: white;
    cursor: pointer;
}